@model List<blog_cs.Models.Article>

@{
    ViewBag.Title = "List";
}

<div class="container">
    <div class="row">
        @foreach (var article in Model)
        {
            <div class="col-sm-6">
                <article>
                    <header>
                        <h2>
                            @Html.ActionLink(@article.Title, "Details", "Article", new { @id = article.Id }, null)
                        </h2>
                    </header>
                    @{ 
                        string content = article.Content;
                        if (content.Length > 255) { content = String.Join("", article.Content.Take(255)) + "..."; }
                    }
                    <p>
                        @content
                    </p>
                    <footer class="pull-right">
                        <small class="author">
                            @article.CreationDate.ToString("dd-MMM-yyyy"), @article.Author.FullName
                        </small>
                    </footer>
                </article>
            </div>
        }
    </div>
</div>
<hr />
